<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="DisplayConfig" type="Agilent.SA.VsaDisplay.DisplayConfig, Agilent.SA.Vsa.DisplayCore, PublicKeyToken=a25294fa6a616d95" allowExeDefinition="MachineToLocalUser" />
    <section name="StartupConfig" type="Agilent.SA.VsaInternal.StartupConfig, Agilent.SA.Vsa.Interfaces.Internal, PublicKeyToken=a25294fa6a616d95" allowExeDefinition="MachineToLocalUser" />
    <section name="FileConfig" type="Agilent.SA.VsaDisplay.FileConfig, Agilent.SA.Vsa.DisplayCore, PublicKeyToken=a25294fa6a616d95" allowExeDefinition="MachineToLocalUser" />
    <section name="PrintConfig" type="Agilent.SA.VsaImplementation.PrintConfig, Agilent.SA.Vsa.Application, PublicKeyToken=a25294fa6a616d95" allowExeDefinition="MachineToLocalUser" />
    <section name="PrintOptionsConfig" type="Agilent.SA.VsaDisplay.PrintOptionsConfig, Agilent.SA.Vsa.Display, PublicKeyToken=a25294fa6a616d95" allowExeDefinition="MachineToLocalUser" />
  </configSections>
  <DisplayConfig>
    <Windows>
      <add Key="Analog Demod Properties" Value="285, 158, 357, 273.383, 1, OfficeSilver" />
      <add Key="Hardware" Value="32, -67, 631, 387, 1, OfficeSilver" />
      <add Key="Agilent 89601 Vector Signal Analyzer - Press the Mode key to switch applications"
        Value="132, 174, 1032, 776" />
    </Windows>
  </DisplayConfig>
  <StartupConfig LastUsedAnalyzerHardware="Analyzer1" IsLastUsedAnalyzerHardwareReal="false"
    LastUsedSourceHardware="" IsLastUsedSourceHardwareReal="false" />
</configuration>